<footer class="footIn  clearfixw">
        <p class="footIn-bottom-p1">
            <a href="#">关于1号店</a>|
            <a href="#">我们的团队</a>|
            <a href="#">网站联盟</a>|
            <a href="#">热门搜索</a>|
            <a href="#">友情链接</a>|
            <a href="#">1号店社区</a>|
            <a href="#">诚征英才</a>|
            <a href="#">商家登录</a>|
            <a href="#">供应商登录</a>|
            <a href="#">放心搜</a>|
            <a href="#">1号店新品</a>|
            <a href="#">开心平台</a>|
            <a href="#">沃尔玛</a>
        </p>
        <p class="footIn-bottom-p2">
            <a href="#">沪CP备14050023号</a>|
            <a href="#">合字1.B2-20130004</a>|
            <a href="#">营业执照</a>|
            <a href="#">互联网药品信息服务资格证</a>|
            <a href="#">互联网药品交易服务资格证</a>|
            <a href="#">违法和不良信息举报电话：0514-85899118</a>
        </p>
        <p class="footIn-bottom-p3">
            Copyright&copy; 1号店网上超市 2007-2017，All Right Reserved
        </p>
        <div class="footIn-bottom-div">
            <a href="#"><img src="/images/yinlianteyue.gif" alt="loading.."></a>
            <a href="#"><img src="/images/zhifubao.gif" alt="loading.."></a>
            <a href="#"><img src="/images/shanghaigongshang.gif" alt="loading.."></a>
            <a href="#"><img src="/images/wangluoshehui.gif" alt="loading.."></a>
            <a href="#"><img src="/images/jiufenxietiao.gif" alt="loading.."></a>
            <a href="#"><img src="/images/baokongyinshipin.gif" alt="loading.."></a>
            <a href="#"><img src="/images/kexinwangzhan.gif" alt="loading.."></a>
            <a href="#"><img src="/images/chengxinwangzhan_03.gif" alt="loading.."></a>
            <a href="#"><img src="/images/wanggoudajiaping.gif" alt="loading.."></a>
            <a href="#"><img src="/images/shanghaishihulliangwang.gif" alt="loading.."></a>
        </div>
    </div>
</footer>
</body>
</html>