<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网上超市1号店，省钱省里省时间</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<!--header开始-->
<header class="header">
    <div class="headerIn clearfix w">
        <ul class="header-left  fl">
            <li class="li1">Hi,请
                <a href="/login">登录 </a><span>/</span><a href="/register"> 注册</a>
                <i class="i1"></i>
                <i class="i1i"></i>
                <div class="li1-login">
                    <div class="li1-login-top">
                        <i class="login-i"></i>
                        <p class="li1-login-p1"><a class="li1-login-a1" href="#">会员专享价，V3免费购</a></p>
                        <p class="li1-login-p2"><a class="li1-login-a2" href="#">欢迎进入我的1号店</a><i class="login-p-i"></i></p>
                    </div>
                    <div class="li1-login-middle">
                        <span class="login-left">积分</span>
                        <span class="login-left">专享</span>
                    </div>
                </div>
            </li>
            <li class="li2">送货至
                <span class="li2-span">北京市
                    <div class="header-left-div"></div>
                </span>
                <i class="i2"></i>
                <i class="i2i"></i>
            </li>
            <i class="i3"></i>
        </ul>
        <ul class="header-right fr">
            <li class="header-right-li1"><a href="#">我的1号店</a>
                <i class="i4"></i><i class="i4i"></i>
                <ul class="header-right-ul1">
                    <li><a href="#">我的订单</a></li>
                    <li><a href="#">我的积分</a></li>
                    <li><a href="#">我的红包</a></li>
                    <li><a href="#">我的抵用券</a></li>
                    <li><a href="#">我的评论</a></li>
                    <li><a href="#">会员专享</a></li>
                </ul>
            </li>
            <li class="li1 header-right-li4"><i class="i5"></i><a href="#">掌上1号店</a>
                <i class="i4"></i><i class="i4i"></i>
                <i class="border1"></i>
                <div class="header-right-div1">
                    <p class="header-right-div1-p1">掌上1号店</p>
                    <p class="header-right-div1-p2">手机更优惠</p>
                    <p class="header-right-div1-p3">
                        <img src="/images/iphone.png" alt="loading..">
                        <img src="/images/pingban.png" alt="loading..">
                        <img src="/images/anzhuo.png" alt="loading..">
                    </p>
                </div>
            </li>
            <li class="header-right-li2"><a href="#">企业采购</a><i class="i4a"></i><i class="i4ia"></i></i>
                <ul class="header-right-ul2">
                    <li><a href="#">礼品卡</a></li>
                    <li><a href="#">分销平台</a></li>
                </ul>
            </li>
            <li class="header-right-li3"><a href="#">客户服务</a>
                <i class="i4a"></i><i class="i4ia"></i>
                <ul class="header-right-ul3">
                    <li><a href="#">包裹跟踪</a></li>
                    <li><a href="#">常见问题</a></li>
                    <li><a href="#">在线退换货</a></li>
                    <li><a href="#">配送范围</a></li>
                </ul>
            </li>
            <li class="header-right-li5"><a href="#">网站导航</a>
                <i class="i4a"></i><i class="i4ia"></i>
                <div class="header-right-div2">
                    <ul class="header-right-div2-ul">
                        <li><a href="#">1号商城</a></li>
                    </ul>
                    <ul class="header-right-div2-ul">
                        <li><a href="#">1元社区</a></li>
                        <li><a href="#">0元试用</a></li>
                        <li><a href="#">分销平台</a></li>
                    </ul>
                    <ul class="header-right-div2-ul">
                        <li><a href="#">网站联盟</a></li>
                        <li><a href="#">招商通道</a></li>
                        <li><a href="#">企业采购</a></li>
                    </ul>
                </div>
            </li>
            <li style="border: none" class="li2 header-right-li6"><a href="#">关注我们：</a>
                <i class="i6"></i>
                <i class="i7">
                    <div class="header-right-div3">
                        <p class="header-right-div2-p2">
                        <p class="header-right-div2-p3"></p>
                        </p>
                        <p class="header-right-div2-p1">扫描二维码</p>
                        <p class="header-right-div2-p1">关注1号店微信</p>
                    </div>
                </i>
            </li>
        </ul>
    </div>
</header>
<!--header结束-->
<!--head开始-->
<div class="head clearfix">
    <div class="headIn w">
        <div class="logo-top clearfix">
            <img src="/images/guanggaobig.png" alt="loading.." class="logo-top-img2">
            <img src="/images/guanggaosmall.png" alt="loading.." class="logo-top-img1">
            <p class="head-p">展开<i class="i8"></i></p>
            <p class="head-p1">收起<i class="i8i"></i></p>
        </div>
        <div class="headIn-logo">
            <div class="logo-left"></div>
            <div class="logo-middle">
                <div class="middle-top clearfix">
                    <div class="middle-head fl">
                        <ul class="middle-head-ul">
                            <li class="middle-head-ul-li1"><a href="#">商品</a>
                                <i class="i9"></i><i class="i9i"></i></li>
                            <li class="middle-head-ul-li2"><a href="#">店铺</a></li>
                        </ul>
                    </div>
                    <form action="/like" method="post">
                        <input class="logo-search fl" name="txt" type="search" placeholder="请输入关键字">
                        <button class="logo-button fl">搜索</button>
                    </form>
                </div>
                <div class="middle-bottom">
                    <ul class="middle-ul">
                        <li>牛奶</li>
                        <li>坚果</li>
                        <li>麦片</li>
                        <li>拖把</li>
                        <li>橄榄油</li>
                        <li>薯片</li>
                        <li>沐浴露</li>
                        <li>阿胶枣</li>
                        <li>纸尿裤</li>
                        <li>方便面</li>
                    </ul>
                </div>
            </div>
            <div class="logo-right">
                <div class="logo-shop">
                    <i class="i10"></i>
                    <p class="shop-p">购物车</p>
                    <div class="shop-div"></div>
                </div>
            </div>
        </div>
        <div class="logo-bottom">
            <div class="logo-b-left">
                <h3>所有商品分类</h3>
                <i class="i11"></i>
            </div>
            <ul class="logo-b-middle">
                <li><a class="logo-b-a" href="/">首页</a></li>
                <li><a class="logo-b-a" href="#">自营超市</a></li>
                <li><a class="logo-b-a" href="#">1号团</a></li>
                <li><a href="#">1号商城</a></li>
                <li><a href="#">闪购</a></li>
                <li><a href="#">活色生鲜</a></li>
                <li><a href="#">医药</a></li>
                <li><a href="#">进口视频</a></li>
                <li><a href="#">电器械</a></li>
            </ul>
            <p class="logo-b-right">手机下单惊喜多！</p>
        </div>
    </div>
</div>
<script src="/js/jquery-1.11.1.min.js"></script>
<script>
    $(function(){
        $('.logo-search').focus(function(){
            $('.logo-search').attr('placeholder','')
        });
    })
</script>
<!--head结束-->